@font-face
	font-family: 'Lab Grotesque Regular'
	src: url('../../../dist/fonts/LabGrotesque-Regular.ttf') format('truetype')
	font-weight: 400
	font-style: normal
@font-face
	font-family: 'Lab Grotesque Bold'
	src: url('../../../dist/fonts/LabGrotesqueMono-Bold.ttf') format('truetype')
	font-weight: 700
	font-style: normal
