.vantage
  &__wrap
    margin-bottom: 32px
    background: #363637
    border-radius: 30px
    padding: 28px 50px
  &__item
    gap: 15px
  &__title
    font-weight: 700
    font-size: 21px
    line-height: 25px
    color: $text-color
    max-width: 170px
  &__icon
    width: 75px
    height: 75px
