@media (max-width: 1300px)
	.container
		max-width: 1100px
@media (max-width: 1200px)
	.container
		max-width: 960px
	.hero
		&__first-block
			padding: 0px 30px 0 0
		.green
			padding: 6px 12px
		.image-text-block__text
			font-size: 18px
		.image-text-block__img
			width: 40px
			height: 40px
		.image-text-block__item
			gap: 8px
		.form__message
			height: 148px
			padding: 14px 13px
		.form .input-wrap
			flex-wrap: wrap
		&__title
			font-size: 44px
			line-height: 56px
		.form__name
			width: 100%
			margin-bottom: 12px
		.form__btn
			width: 100%
			text-align: center
	.logo .site-name
		font-size: 32px
	.login .login__btn
		gap: 10px
		padding: 5px 12px 5px 20px
	.vantage
		&__item
			gap: 10px
		&__icon
			width: 40px
			height: 40px
		&__title
			font-size: 16px
			line-height: 20px
@media (max-width: 992px)
	.container
		max-width: 94%
		margin: auto
	.header__menu
		display: none
	.header__menu--mobile
		display: block
		cursor: pointer
		margin-left: 20px
		position: relative
		display: inline-block
		z-index: 10
		width: 100%
		.menu-item
			border-bottom: 2px dotted #ffffff
			padding: 10px 0
			a
				font-weight: 400
				font-size: 14px
				line-height: 17px
				color: #ffffff
	.header__menu--mobile object
		z-index: -1
		position: relative
	.mobil_menu.active-menu
		display: block
		display: block
		background: #363637
		border-radius: 15px
		padding: 39px 25px 37px
		position: relative
	.close-button
		cursor: pointer
		color: #FFFFFF
		position: absolute
		top: 15px
		right: 15px
	.flex-center-start, .flex-start-sb, .flex-center-center, .flex-center-sb
		flex-wrap: wrap
	.hero
		.hero__second-block, .hero__first-block
			width: 100%
		.hero__first-block
			padding: 0px 10px 40px 0
	.vantage
		&__item
			gap: 20px
			width: 48%
			justify-content: flex-start
		&__icon
			width: 75px
			height: 75px
		&__title
			font-size: 21px
			line-height: 25px
		&__wrap
			gap: 10px
@media (max-width: 768px)

@media (max-width: 576px)
	.hero__title
		font-size: 36px
		line-height: 44px
	.hero .image-text-block__item
		flex-wrap: nowrap
	.vantage__item
		width: 100%
	.custom-logo
		width: 50px
	.logo .site-name
		font-size: 30px
@media (max-width: 420px)
	.logo .site-name
		display: none
	.hero__title
		font-size: 33px
		line-height: 44px
	.hero .image-text-block__text
		font-size: 16px
	.vantage
		&__icon
			width: 40px
			height: 40px
		&__title
			font-size: 16px
			line-height: 20px
